<!doctype html>
<html lang="">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title class="lang-content" data-lang="en">Aaron — ?!?</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }} "/>
</head>

<body>
     <h2>??????</h2>
     <h4>.....</h4>
     <h1><a href="{{ url_for('record') }}">Let me record that you where here!</a></h1>
     <img src="{{ url_for('static', filename='sixseven-six.gif') }}" alt="six seven">
     <img src="{{ url_for('static', filename='tung-tungtung-tungtungtung-sahur-tungtungtungsahur-tungtungsahur.gif') }}" alt="tuntgunt">
     <img src="{{ url_for('static', filename='brr-brr-patapim.gif') }}" alt="brbrbrbrbrbrbrb patatatataaapim">
     <img src="{{ url_for('static', filename='tralalero-tralala.gif') }}" alt="tralalalalalalero Tralalalalallero lalala">
</body>
</html>